<!DOCTYPE HTML>
<html>

<head>
	<title>Me encontra</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	<!-- Stylesheets -->
	<link href="../estilos/geral/bootstrap.css" rel="stylesheet">
	<link href="../estilos/geral/ionicons.css" rel="stylesheet">
	<link href="../estilos/geral/swiper.css" rel="stylesheet">
	<link href="../estilos/inicial/css/styles.css" rel="stylesheet">
	<link href="../estilos/inicial/css/responsive.css" rel="stylesheet">
	<link href="../estilos/geral/estilo.css" rel="stylesheet">
</head>

<body>
	<ul class="site-navigation">
		<li><a class="nav-btn btn-prev" href="#"><i class="ion-chevron-up"></i></a></li>
		<li><a href="#musico"><span class="tool-tip">Músico</span></a></li>
		<li><a href="#contratante"><span class="tool-tip">Contratante</span></a></li>
		<li><a class="nav-btn btn-next" href="#"><i class="ion-chevron-down"></i></a></li>
	</ul>
	<header>
		<div class="container">
			<!-- <a class="logo" href="#"><img src="imagens/meencontralogobranco.png" alt="Logo"></a> -->
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="anuncios.html">Anúncios</a></li>
				<li><a href="musicos.html">Músicos</a></li>
				<li><a href="contato.html">Contato</a></li>
				<li><a href="login.html">Entrar</a></li>
				<li><a href="cadastro.html">Cadastrar</a></li>
			</ul>
		</div>
	</header>
	<div class="main-slider" style="background-image: url(../imagens/trompetista.jpeg);">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">
					<h5 class="pre-heading">Seja bem-vindo(a)!</h5>
					<h1><b>Me encontra!</b></h1>
					<a class="btn slider-btn" href="anuncios.html"><b>Ver Anúncios</b>
						<i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="social-section" id="musico">
		<div class="container">
			<ul>
				<li>Se torne um de nossos músicos e candidate-se às vagas disponíveis!</li>
				<a class="btn slider-btn" href="cadastro.html"><b>Cadastrar-se</b>
					<i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			</ul>
		</div>
	</div>
	<section class="intro-section" id="contratante">
		<div class="image-wrapper" style="background-image: url(imagens/eduardo.jpeg)">
			<a href="#"><i class="icon ion-ios-plus-empty"></i></a>
		</div>
		<div class="container">
			<div class="intro section">
				<h3><b> Se você não sabe por onde começar a procurar um artista para tocar em sua festa, <span
							class="font-red"> nós te ajudamos!</span> </b></h3>
				<p class="margin-tb-20">Basta realizar seu cadastro como contratante e divulgar seu anúncio!</p>
				<p class="margin-tb-20">Em pouco tempo você encontrará seu artista perfeito!</p>
				<a class="btn btn-border margin-b-30" href="cadastro.html"><b>Anunciar</b>
					<i class="ion-chevron-right"></i><i class="ion-chevron-right"></i></a>
			</div>
		</div>
	</section>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-4" align="center">
					<!-- <a class="logo margin-b-10" href="#"><img src="imagens/meencontralogobranco.png" alt="Logo"></a> -->
				</div>
				<div class="col-xs-12 col-md-4" align="center">
					<p class="font-black-lite copyright">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved |
						This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
					</p>
				</div>
				<div class="col-xs-12 col-md-4" align="center">
					<ul>
						<li class="mr-3"><a href="https://pt-br.facebook.com/" target="_blank"><i
									class="ion-social-facebook font-size-2"></i></a></li>
						<li class="mr-3"><a href="https://twitter.com/" target="_blank"><i
									class="ion-social-twitter font-size-2"></i></a></li>
						<li class="mr-3"><a href="https://br.linkedin.com/" target="_blank"><i
									class="ion-social-linkedin-outline font-size-2"></i></a></li>
						<li><a href="https://www.youtube.com/?gl=BR&hl=pt" target="_blank"><i
									class="ion-social-youtube font-size-2"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- SCRIPTS -->
	<script src="../javascripts/geral/jquery-3.1.1.min.js"></script>
	<script src="../javascripts/geral/tether.min.js"></script>
	<script src="../javascripts/geral/bootstrap.js"></script>
	<script src="../javascripts/geral/swiper.js"></script>
	<script src="../javascripts/geral/scripts.js"></script>
</body>

</html>