<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>ME - Músicos</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="../estilos/geral/bootstrap.css" rel="stylesheet">
	<link href="../estilos/geral/ionicons.css" rel="stylesheet">
	<link href="../estilos/lista/css/styles.css" rel="stylesheet">
	<link href="../estilos/anuncios/css/styles.css" rel="stylesheet">
	<link href="../estilos/anuncios/css/responsive.css" rel="stylesheet">
	<link href="../estilos/lista/css/responsive.css" rel="stylesheet">
	<link href="../estilos/geral/estilo.css" rel="stylesheet">

</head>

<body>

	<header>
		<div class="container">
			<!-- <a class="logo" href="#"><img src="images/logo-with-bg.jpg" alt="Logo"></a> -->
			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="icon ion-navicon"></i></div>
			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="anuncios.html">Anúncios</a></li>
				<li><a href="musicos.html">Músicos</a></li>
				<li><a href="contato.html">Contato</a></li>
				<li><a href="login.html">Entrar</a></li>
				<li><a href="cadastro.html">Cadastrar</a></li>
			</ul>
		</div><!-- container -->
	</header>
	<div class="main-slider" style="background-image: url(../imagens/cantor.jpg);">
		<div class="display-table center-text">
			<div class="display-table-cell">
				<div class="slider-content">

					<h5 class="pre-heading">Conheça alguns de nossos</h5>
					<h1><b>Músicos</b></h1>

				</div><!-- slider-content-->
			</div>
			<!--display-table-cell-->
		</div><!-- display-table-->
	</div><!-- main-slider -->
	<section class="porfolio-section section center-text">
		<div class="container">
			<div class="portfolioFilter clearfix margin-b-80">
				<a href="#" data-filter="*" class="current"><b>Estilo Musical</b></a>
				<a href="#" data-filter=".digital-design"><b>Digital Design</b></a>
				<a href="#" data-filter=".photography"><b>Photography</b></a>
				<a href="#" data-filter=".brand-identity"><b>Brand Identity</b></a>
				<a href="#" data-filter=".architecture"><b>Architecture</b></a>
			</div><!-- portfolioFilter -->
		</div><!-- container -->
	</section><!-- porfolio-section -->
	<section class="team-section">
		<a class="team" href="#"><img src="images/team-1-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-2-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-3-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-4-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-5-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-6-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-7-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>
		<a class="team" href="#"><img src="images/team-8-400x400.jpg" alt="" />
			<div class="hover-color"></div>
		</a>

	</section><!-- about-section -->
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-4" align="center">
					<!-- <a class="logo margin-b-10" href="#"><img src="imagens/meEncontraLaranja.png" alt="Logo"></a> -->
				</div>
				<div class="col-xs-12 col-md-4" align="center">
					<p class="font-black-lite copyright">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved |
						This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
					</p>
				</div>
				<div class="col-xs-12 col-md-4" align="center">
					<ul>
						<li class="mr-3"><a href="https://pt-br.facebook.com/" target="_blank"><i
									class="ion-social-facebook font-size-2"></i></a></li>
						<li class="mr-3"><a href="https://twitter.com/" target="_blank"><i
									class="ion-social-twitter font-size-2"></i></a></li>
						<li class="mr-3"><a href="https://br.linkedin.com/" target="_blank"><i
									class="ion-social-linkedin-outline font-size-2"></i></a></li>
						<li><a href="https://www.youtube.com/?gl=BR&hl=pt" target="_blank"><i
									class="ion-social-youtube font-size-2"></i></a></li>
					</ul>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</footer>
	<!-- SCRIPTS -->
	<script src="../javascripts/geral/jquery-3.1.1.min.js"></script>
	<script src="../javascripts/geral/tether.min.js"></script>
	<script src="../javascripts/geral/bootstrap.js"></script>
	<script src="../javascripts/geral/isotope.pkgd.min.js"></script>
	<script src="../javascripts/geral/scripts.js"></script>
</body>

</html>